*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;

}
.header{

    background-color:rgb(247, 240, 232);
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}

.header-logo img {
  width: 10rem; /* ajustá este valor a gusto */
  height: auto;
  padding:1rem;
  margin-left: 2rem;

}

.header-nav{
    padding:1rem;
    margin-right: 2rem;}
    
.header-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  
}
.header-nav li{
    text-decoration: none;
    color: black;

}

body{
    font-family: "Inter", sans-serif;
    background-color: rgb(247, 240, 232);
    line-height: 1.5;
    font-size: 1.6rem;
    color: black;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*-------------------------------------------------------------------------
                            HOME
--------------------------------------------------------------------------*/

.main{
    width: 90%;
    flex: 1;
    margin: 2rem auto;
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.titulo-home {
    width: 100%;
    color:black;
    font-size: 4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    text-align: center;
    margin: 2rem 0;
    border-radius: 20px;
    padding: 1rem 2rem;
}
.parrafo-home{
    margin-bottom: 2rem;
    font-size: 2rem;
    width: 80%;
    text-align: center;
}
.productos-home{
    width: 100%;

}
.productos-home h2 {
    text-align: left;
    font-size: 3rem;
    padding: 1rem;
    margin: 3rem;
}
.contenedor-skins{
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    gap:5rem;
}
.skins-productos{
    background-color: #eac75f;
    padding: 1rem;
    border-radius: 1rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.skins-productos img{
    width: 100%;
    border-radius: 0.5rem;
}

.btn {
  background: whitesmoke;
  color: #2a1e35;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
}
.btn-eliminar-carrito {
  background-color: #f7bb2b;
  
}
.btn-eliminar-carrito:hover {
  background-color: #d21f3c;
  
}
.btn-vaciar-carrito {
  background-color: #f7bb2b;
  color: #1d1a20;
}

.btn-vaciar-carrito:hover {
  background-color: #e0aa24;
}

.footer{
    padding: 1rem;
    background-color:#7b4fff;
    color: white;
    text-decoration: none;
}
/*-------------------------------------------------------------------------
                            CONTACTO
--------------------------------------------------------------------------*/
.titulo-contacto{
    margin-bottom: 2rem;
}
.form-contacto {
  background-color: #8a79a8;
  color: #2a1e35;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.campo-form input, 
.campo-form textarea {
  border: none;
  background-color: transparent;
  border-bottom: solid 2px #2a1e35;
  margin-bottom: 3rem;
}

.campo-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

/*-------------------------------------------------------------------------
                            CARRITO
--------------------------------------------------------------------------*/

.mensaje-carrito-vacio {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}

.acciones-carrito {
  margin-top: 2rem;
}
.producto-carrito {
  padding: 1.5rem;
  border-radius: 1.2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


/* ----------------------------- */
/*         MEDIA QUERIES        */
/* ----------------------------- */

@media (max-width: 768px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .div-logo,
  .header nav {
    margin: 0;
  }
}